<p>
<b>Factures:</b> 
<%= link_to 'Toutes', :controller => 'invoices', :action => 'list' %> | 
<%= link_to 'Non payées', :controller => 'invoices', :action => 'list_unpaid' %> |
<%= link_to 'Liste compta', :action => 'list_compta' %> | 
<%= link_to 'Export compta', :action => 'export_compta' %>
</p>
