<label for="select_category2">Sous-catégorie:</label>
<select id="select_category2">
	<option value="0" selected="selected">&nbsp;</option>
	<%= options_from_collection_for_select( @cats, 'id', 'name') %>
</select>

<div id="browse_menu3"/>
