<label for="select_product">Produit:</label>
<select id="select_product">
	<option value="0" selected="selected">&nbsp;</option>
	<%= options_from_collection_for_select( @products, 'id', 'name') %>
</select>
