<h1>Catégories de produits</h1>

<div class="col_container">

<div class="col_left">
<%= render 'sublist' %>
</div>

<div class="col_right">
<p><%= link_to 'Nouvelle catégorie', :action => 'new' %></p>
</div>

<div class="col_footer">&nbsp;</div>
</div>
